{% set class = 'Login_signin_modal' %}
{% set modal_header = 'Login Page' %}
{% extends "templates/modal.twig" %}

{% block resources %}

{% endblock resources %}

{% block content %}
<form id="{{ class }}_form" class="form-horizontal" action="login/signin" method="POST">
	<h1>Im a modal</h1>
</form>
{% endblock content %}

{% block footer %}
<button class="btn btn-primary" data-dismiss="modal">Close</button>
<button class="btn btn-primary" data-dismiss="modal">Login</button>
{% endblock footer %}