{% set title = 'Home' %}
{% extends "templates/default.twig" %}

{% block onload %}
	
{% endblock onload %}

{% block resources %}

{% endblock resources %}

{% block content %}
	<div>
		<h1>Welcome to HOME PAGE</h1>
		<br /><br />

		<p>This is just some text to let you know where your at homie</p>
	</div>
{% endblock content %}