{% set title= 'Welcome' %}
{% extends "templates/default.twig" %}

{% block onload %}
	
{% endblock onload %}

{% block resources %}

{% endblock resources %}

{% block content %}
	<div class="span8 offset4">
		<h1>Welcome to ToDo.com</h1>

		<a href="register/signup" class="launch_modal">Register</a>
		<a href="login/signin" class="launch_modal">Login</a>

		<!-- <a class="btn btn-primary" data-toggle="modal" href="../index.php/mymodal" >Register</a>
		<a class="btn btn-inverse" data-toggle="modal" href="login/index" >Sign In</a> -->

	</div>
{% endblock content %}