{% set title = 'Welcome' %}
{% extends "templates/default.twig" %}

{% block onload %}
	
{% endblock onload %}

{% block resources %}

{% endblock resources %}

{% block content %}
	<div>
		<h1>Welcome to ToDo.com</h1>
		<br /><br />

		<a href="auth/login" class="btn btn-primary launch_modal">Log In</a>
		<a href="auth/register" class="btn btn-inverse launch_modal">Register</a>
	</div>
	<br /><br />
	<strong><div id="welcomeErrorMsg" class="span4" style="color: red;"></div></strong>
{% endblock content %}