{% set title= 'Login' %}
{% extends "templates/default.twig" %}

{% block onload %}

{% endblock onload %}

{% block resources %}

{% endblock resources %}

{% block content %}
	<div class="span8 ofset4">
		<h1>Welcome to ToDo.com</h1>

		<p><a href="login/index" class="launch_modal">Login Now!</a></p>
	</div>
{% endblock content %}