{% set title= 'Welcome' %}
{% extends "templates/default.twig" %}

{% block onload %}
	
{% endblock onload %}

{% block resources %}

{% endblock resources %}

{% block content %}
	<div class="span8 offset4">
		<h1>Welcome to ToDo.com</h1>

		<a href="auth/login" class="btn btn-primary launch_modal">Login</a>
		<a href="auth/register" class="btn btn-inverse launch_modal">Register</a>
	</div>
{% endblock content %}