{% set class = 'auth_login_modal' %}
{% set modal_header = 'Member Login' %}
{% extends "templates/modal.twig" %}

{% block resources %}

	$(function() {
		$('#signin').on('click', function() {
			var username = $('#username').val();
			var userpassword = $('#userpassword').val();

			$.post(	'../index.php/auth/login',
				{
					username : username,
					userpassword : userpassword,
				}
			);
			event.preventDefault();
		});
	});

{% endblock resources %}

{% block content %}
	<form id="login" class="form-horizontal {{ class }}_form" action="auth/login" method="POST">
		<div class="control-group">
			<label for="username" class="control-label">Name</label>
			<div class="controls">
				<input type="text" id="username" name="username" value="">
			</div>
		</div>

		<div class="control-group">
			<label for="userpassword" class="control-label">Password</label>
			<div class="controls">
				<input type="password" id="userpassword" name="userpassword" value="">
			</div>
		</div>
	</form>
{% endblock content %}

{% block footer %}
	<button id="signin" class="btn btn-primary submit_button" data-dismiss="modal">Log In</button>
	<button class="btn btn-inverse" data-dismiss="modal">Cancel</button>
{% endblock footer %}