{% set class = 'auth_register_modal' %}
{% set modal_header = 'New Member Registration' %}
{% extends "templates/modal.twig" %}

{% block resources %}

	$(function() {
		$('#signup').on('click', function() {
			var name = $('#name').val();
			var password = $('#password').val();
			var email = $('#email').val();

			$.post(	'auth/register',
				{
					name : name,
					password : password,
					email : email,
				},
				function(data){
					alert(data);
					if(data == 'FALSE')
					{
						$('#welcomeErrorMsg').append('Invalid Registration...  Try Again');
					}
					else if(data == 'TRUE')
					{
						document.location.href = 'home/';
					}
				}
			);
			event.preventDefault();
		});
	});

{% endblock resources %}

{% block content %}
	<form id="register" class="form-horizontal {{ class }}_form" action="auth/register" method="POST">
		<div class="control-group">
			<label for="name" class="control-label">Name</label>
			<div class="controls">
				<input type="text" id="name" name="name" value=""/>
			</div>
		</div>

		<div class="control-group">
			<label for="password" class="control-label">Password</label>
			<div class="controls">
				<input type="password" id="password" name="password" value=""/>
			</div>
		</div>

		<div class="control-group">
			<label for="email" class="control-label">Email</label>
			<div class="controls">
				<input type="email" id="email" name="email" value=""/>
			</div>
		</div>
	</form>
{% endblock content %}

{% block footer %}
	<button id="signup" class="btn btn-primary submit_button" data-dismiss="modal">Register</button>
	<button class="btn btn-inverse" data-dismiss="modal">Cancel</button>
{% endblock footer %}